---
import Header from "../../components/Header.astro";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/global.css";
import HabitTracker from "../../components/HabitTracker.astro";
---

<div id="entireContentWrapper">
    <Header />
    <Navigation />
    <HabitTracker />
    <Footer />
</div>