---
import Header from "../../components/Header.astro";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
import BootComponent from "../../components/Boot.astro";

import "../../styles/global.css";
---

<div id="entireContentWrapper">
    <Header />
    <Navigation />
    <BootComponent />
    <Footer />
</div>