---
---
<div id="BookGallery" class="panel">
    <h2>The Great Library (Books)</h2>
    <div id="book-grid" class="art-grid"></div>
</div>

<script type="module" src="/scripts/displayGallery.js"></script>
