---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/global.css";
import ArtComponent from "../../components/Art.astro";
---

<Layout title="Dissociation Arcade">
<div id="entireContentWrapper">
    <Header />
    <Navigation />
    <ArtComponent />
    <Footer />
</div>
</Layout>