---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
import BareMinimumComponent from "../../components/BareMinimum.astro";

---

<Layout title="Bare Minimum Tasks">
<div id="entireContentWrapper">
    <Header />
    <Navigation />
    <BareMinimumComponent />
    <Footer />
</div>
</Layout>