---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
import MemberComponent from "../../components/Member.astro";
---

<Layout title="The Gang">
<div id="entireContentWrapper">
    <Header />
    <Navigation />
    <MemberComponent />
    <Footer />
</div>
</Layout>