---
import Layout from "../;
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import SkillBrowser from "../components/SkillBrowser.astro";
import TodoBoard from "../components/TodoBoard.js";
import HabitTracker from "../components/HabitTracker.astro";
import Planner from "../components/Planner.astro";
import SettingsPanel from "../components/SettingsPanel.js";
import CalendarPanel from "../components/CalendarPanel.astro";
---
---

<Layout title="Procrasti-NET">
    <Header />
    <Nav />

    <section class="content">
        <div id="SkillsVisible" style="display:block"><SkillBrowser /></div>
        <div id="TodosVisible" style="display:none"><TodoBoard /></div>
        <div id="HabitsVisible" style="display:none"><HabitTracker /></div>
        <div id="PlannerVisible" style="display:none"><Planner /></div>
        <div id="CalendarVisible" style="display:none"><CalendarPanel /></div>
        <div id="SettingsVisible" style="display:none"><SettingsPanel /></div>
    </section>

    <script type="module" src="/scripts/switchContent.js"></script>
    <script type="module" src="/scripts/skills.js"></script>
    <script type="module" src="/scripts/todos.js"></script>
    <script type="module" src="/scripts/habits.js"></script>
    <script type="module" src="/scripts/planner.js"></script>
    <script type="module" src="/scripts/settings.js"></script>
    <script type="module" src="/scripts/calendar.js"></script>
</Layout>
---
