---
import Layout from '../layouts/Layout.astro';
import AuthComponent from "../components/auth/Auth.svelte"
---
<Layout title="Login">
    <div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
        <AuthComponent client:load />
    </div>
</Layout>
