---

---
<section id="Boot">
    <div id="Bootsschule">
        <h2>Ich habe in der Bootsfahrschule gelernt, dass...</h2>
        <img src="/PICS/mrspuff.jpg" alt="Mrs.Puff is going to the looney bin">
        <img src="/PICS/kms.jpg" alt="jk haha unless"></img>)
        <ul>
            <li>We can do anything if we just believe in ourselves </li>
            <li>No, just kidding, setup is not easy and we hate SQL. Luna is scared of backend and the campus:cloud. Honestly, I have no idea if I got it working. Edit: I did.</li>
            <li>Oh, and taking on projects from the preliminary project is not great.</li>
            <li>And we uploaded node modules even though we had it set not to which was fun (do you get a notification that some idiot uploaded 40gb and deleted it again? Sorry)</li>
            <li>Coordinating group work when coding is tough, we couldn't have said it better than Andrea.</li>
        </ul>
    </div>
</section>