---

---
<section class="Boot">
    <div id="Boot">
        <h2>Ich habe in der Bootsfahrschule gelernt, dass...</h2>
        <img src="/PICS/boot.jpg">
        <ul>
            <li>Front-End nicht nur "hihi slay Designing" ist sondern auch API-Stuff :'D</li>
            <li>Verschiedenste Libraries die in der Arbeitswelt verwendet werden (schaue mir dadurch private react an hehe :p)</li>
            <li>Gruppenarbeiten zu koordinieren beim Coden ist zach</li>
        </ul>
    </div>
</section>