---

---

<section class="EvaluationContent">
    <div id="EvaluationContent">

        <link href="https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap" rel="stylesheet">

        <h2>Evaluation</h2>

        <div class="swag normaler-fliesstext"><p>Answer this form with unwavering sincerity, for your fate may hang on the responses you provide. Abandon any inclination to pander or anticipate our preferences; such endeavors will find no favor in the gaze that oversees this undertaking. The shadows cast by your words may very well shape the contours of your future. Once you are comfortable, please proceed to Step 1:</p></div>

        <div class="quiz-container">
            <div class="title">Step 1/13</div>
            <div id="question" class="question">        <p class="normaler-fliesstext2">In a hypothetical scenario, you witness a grave injustice, and you possess the power to intervene. The moral dilemma unfolds before you, and the choices are stark. Consider the following options and select the one that resonates most with your moral compass:</p>
            </div>
            <label class="option custom-radio">
                <input type="radio" name="option" value="1" />
                <span class="radio-img"></span>
                <span class="textOpt option1">Take immediate action, risking personal consequences, to rectify the injustice and uphold justice.</span>
            </label>
            <label class="option custom-radio">
                <input type="radio" name="option" value="2" />
                <span class="radio-img"></span>
                <span class="textOpt option2">Weigh the potential risks and benefits before deciding on a course of action, striving to find a balance between personal safety and intervening for the greater good.</span>
            </label>
            <label class="option custom-radio">
                <input type="radio" name="option" value="3" />
                <span class="radio-img"></span>

                <span class="textOpt option3">opt for non-intervention, choosing to remain a passive observer, prioritizing personal
                safety and avoiding potential repercussions.</span>
            </label>
            <label class="option custom-radio">
                <input type="radio" name="option" value="4" />
                <span class="radio-img"></span>

                <span class="textOpt option4">Deliberately exploit the situation for personal gain, capitalizing on the injustice for your benefit, regardless of the ethical implications.</span>
            </label>
            <!-- Buttons -->
            <div class="controls">
                <button class="previous">Previous</button>
                <button class="next">Next</button>
            </div>
        </div>

        <div class="result">

        </div>


    </div>
</section>
