---

---

<section id="footer">
    <footer class="">
        <div class="footer-site-footercontainer">
            <div class="footer-about">
                <p>New Faith Group</p>
                <p>Campus Domus</p>
                <p>3100 St. Pölten</p>
            </div>
            <div class="footer-contact">
                <p>Telephone: X</p>
                <p>E-Mail: X</p>
                <p>We will conact you.</p>
            </div>
        </div>
    </footer>

</section>