<section id="footer">
    <footer>
        <div class="footer-site-footercontainer">
            <div class="footer-about">
                <p><strong>Procrasti-net</strong></p>
                <p>We're here to do tasks and chew bubblegum. And we have a lot of bubble gum.</p>
                <p>Build for Luna and Verena, may they stop procrastinating and start working on shit.</p>
            </div>

            <div class="footer-contact">
                <p><strong>Contact</strong></p>
                <p>Email: </p>
                <p>mt231043@ustp-students.at,</p>
                <p>mt241068@ustp-students.at,</p>
                <p>asteudres@ustp.at</p>
                <p>Phone: +43676/7875431</p>
                <p>We'll reply eventually. It's on the todo list. Maybe Tomorrow.</p>
            </div>
        </div>
    </footer>
</section>