---
---
<header id="headerHeading">
    <div class="container">
        <h1><a href="/">Procrasti-net</a></h1>
        <h2>Fuck it, we ball.</h2>

        <div id="theme-switcher">
            <label class="switch" aria-label="Toggle theme">
                <input type="checkbox" id="theme-toggle">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</header>

<script>
    import "../scripts/switchTheme.js";
    import "../scripts/switchContent.js";
</script>