---
import Skills from "./Skills.svelte";
import Todos from "./Todos.svelte";
import Habits from "./Habits.svelte";
import Planner from "./Planner.svelte";
import Settings from "./Settings.svelte";
import Calendar from "./Calendar.svelte";
import "../styles/global.css";

---

  <section class="content">
    <div id="SkillsVisible" style="display:block"><Skills client:load /></div>
    <div id="TodosVisible" style="display:none"><Todos client:load /></div>
    <div id="HabitsVisible" style="display:none"><Habits client:load /></div>
    <div id="PlannerVisible" style="display:none"><Planner client:load /></div>
    <div id="CalendarVisible" style="display:none"><Calendar client:load /></div>
    <div id="SettingsVisible" style="display:none"><Settings client:load /></div>
    <div id="AuthVisible" style="display:none"><Auth client:load /></div>
  </section>

  <script>
    import "../scripts/switchContent.js";
    import "../scripts/skills.js";
    import "../scripts/todos.js";
  </script>