---
import Evaluation from "./Evaluation.astro"
import RequiredSteps from "./RequiredSteps.astro"
import Art from "./Art.astro"
import Member from "./Member.astro"
import Boot from "./Boot.astro"

---

<section class="content">
    <div id="JoinContent">


    <div id="EvaluationVisible" style="display: none">
        <Evaluation />
    </div>

    <div id="RequiredVisible" style="display: none">
        <RequiredSteps />
    </div>

    <div id="ArtVisible" style="display: none">
        <Art />
    </div>

    <div id="MemberVisible" style="display: none">
        <Member />
    </div>

    <div id="BootVisible" style="display: none">
        <Boot />
    </div>
    </div>
</section>

<script type="module" src="/scripts/switchContent.js"></script>