---

---
<section id="nav_ul">
    <div id="navWrapper">
        <nav>
            <div class="dropdown-wrapper">
                <a id="triggerEvaluation" class="dropbtn">Evaluation</a>
                <div class="dropdown-content">
                    <a id="triggerRequired">Required Steps</a>
                    <a id="triggerBoot">Boot</a>
                </div>
            </div>

            <div class="dropdown-wrapper">
                <a id="triggerArt" class="dropbtn">Art</a>
                <div class="dropdown-content">
                    <a id="showPicsOnly">Pictures</a>
                    <a id="showAVOnly">Video/Audio</a>
                    <a id="showBooksOnly">Books</a>
                </div>
            </div>

            <div class="dropdown-wrapper">
                <a id="TriggerMember" class="dropbtn">Members</a>
            </div>

        </nav>
    </div>
</section>
<script>
    import "../scripts/switchContent.js";
</script>