---
import { api } from "../../lib/apiClient";

const skills = await api.getSkills();
---

<h1>Skills</h1>

<ul>
    {skills.map(skill => (
            <li>
                <a href={`/skills/${skill.id}`}>{skill.name}</a>
            </li>
    ))}
</ul>