---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Nav from "../../components/Navigation.astro";
import AppShell from "../../components/AppShell.svelte";
import Footer from "../../components/Footer.astro";
import "../../styles/global.css";
---

<Layout title="Dashboard">
<div id="entireContentWrapper">
    <Header />
    <Nav />
    <AppShell client:load />
    <Footer />
</div>
</Layout>
