---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/global.css";
import AuthSvelte from "../../components/Auth.svelte";
---

<Layout title="Member Login">
<div id="entireContentWrapper">
    <Header />
    <Navigation />
    <AuthSvelte client:load />
    <Footer />
</div>
</Layout>
