---
import Header from "../../components/Header.astro";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/global.css";
import Habits from "../../components/Habits.svelte";
---

<div id="entireContentWrapper">
    <Header />
    <Navigation />
    <Habits client:load />
    <Footer />
</div>