---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";

import PlannerSvelte from "../../components/Planner.svelte";
---

<Layout title="Planner">
<div id="entireContentWrapper">
    <Header />
    <Navigation />
    <PlannerSvelte client:load />
    <Footer />
</div>
</Layout>