---
import Header from "../../components/Header.astro";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/global.css";
import Planner from "../../components/Planner.svelte";
---

<div id="entireContentWrapper">
    <Header />
    <Navigation />
    <Planner client:load />
    <Footer />
</div>