---
import Header from "../../components/Header.astro";
import Navigation from "../../components/Navigation.astro";
import Skills from "../../components/Skills.svelte";
import Footer from "../../components/Footer.astro";
import "../../styles/global.css";---

<div id="entireContentWrapper">
    <Header />
    <Navigation />
    <Skills client:load />
    <Footer />
</div>