---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Navigation from "../../components/Navigation.astro";
import SkillsSvelte from "../../components/Skills.svelte";
import Footer from "../../components/Footer.astro";

---

<Layout title="Skills">
<div id="entireContentWrapper">
    <Header />
    <Navigation />
    <SkillsSvelte client:load />
    <Footer />
</div>
</Layout>