---
import Header from "../../components/Header.astro";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/global.css";
import Todos from "../../components/Todos.svelte";
---

<div id="entireContentWrapper">
    <Header />
    <Navigation />
    <Todos client:load />
    <Footer />
</div>